<!DOCTYPE html>
{% load staticfiles %}
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Risktco | Simplify Risk Communications</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

    <!-- ================== BEGIN FAVICON ================== -->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <!-- ================== END FAVICON ================== -->

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static "home_assets/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" />
	<link href="{% static "home_assets/plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" />
	<link href="{% static "home_assets/css/animate.min.css" %}" rel="stylesheet" />
	<link href="{% static "home_assets/css/style.min.css" %}" rel="stylesheet" />
	<link href="{% static "home_assets/css/style-responsive.min.css" %}" rel="stylesheet" />
	<link href="{% static "home_assets/css/theme/default.css" %}" id="theme" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static "home_assets/plugins/pace/pace.min.js" %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body data-spy="scroll" data-target="#header-navbar" data-offset="51">
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-transparent navbar-fixed-top">
            <!-- begin container -->
            <div class="container">
                <!-- begin navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        <span class="brand-text">
                         <span class="text-theme">risktco</span>
                        </span>
                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active dropdown">
                            <a href="#home" data-click="scroll-to-target" data-toggle="dropdown">HOME <b class="caret"></b></a>
                            <ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
                                <li><a href="index.html">Risk Log Book Platform</a></li>
                                <li><a href="index_inverse_header.html">Control Freak Courses</a></li>
                                <li><a href="index_default_header.html">Community Connect</a></li>
                                <li><a href="extra_element.html">Partner Relationships</a></li>
                            </ul>
                        </li>
                        <li><a href="#about" data-click="scroll-to-target">ABOUT</a></li>
                        <li><a href="#team" data-click="scroll-to-target">TEAM</a></li>
                        <li><a href="#service" data-click="scroll-to-target">SERVICES</a></li>
                        <li><a href="#work" data-click="scroll-to-target">WORK</a></li>
                        <li><a href="#client" data-click="scroll-to-target">CLIENT</a></li>
                        <li><a href="#pricing" data-click="scroll-to-target">PRICING</a></li>
                        <li><a href="#contact" data-click="scroll-to-target">CONTACT</a></li>
                        <li><a href="{% url 'auth_register' %}">REGISTER</a></li>
                        <li><a href="{% url 'auth_signin' %}">SIGN IN</a></li>
                    </ul>
                </div>
                <!-- end navbar-collapse -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #header -->
      {% block body %}
      {% endblock %}

        <!-- begin #footer -->
        <div id="footer" class="footer">
            <div class="container">
                <div class="footer-brand">
                    <img src="..\..\static\images\logo\risktco_logo_stacked_blue_lightgray.png" alt="Risktco Logo" style="height:80px;">
                </div>
                <p>
                    &copy; Copyright Risktco 2019 <br />
                    A practial way to communicate risk. Created by <a href="#">the risk community</a>
                </p>
                <p class="social-list">
                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                    <a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
                    <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
                </p>
            </div>
        </div>
        <!-- end #footer -->
    </div>
    <!-- end #page-container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static "home_assets/plugins/jquery/jquery-1.9.1.min.js" %}"></script>
	<script src="{% static "home_assets/plugins/jquery/jquery-migrate-1.1.0.min.js" %}"></script>
	<script src="{% static "home_assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
	<!--[if lt IE 9]>
		<script src="{% static "home_assets/crossbrowserjs/html5shiv.js" %}"></script>
		<script src="{% static "home_assets/crossbrowserjs/respond.min.js" %}"></script>
		<script src="{% static "home_assets/crossbrowserjs/excanvas.min.js" %}"></script>
	<![endif]-->
	<script src="{% static "home_assets/plugins/jquery-cookie/jquery.cookie.js" %}"></script>
	<script src="{% static "home_assets/plugins/scrollMonitor/scrollMonitor.js" %}"></script>
	<script src="{% static "home_assets/js/apps.min.js" %}"></script>
	<!-- ================== END BASE JS ================== -->

	<script>
	    $(document).ready(function() {
	        App.init();
	    });
	</script>
</body>
</html>
