{% load staticfiles %}
<div ng-init="initialize();">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Dashboard</a></li>
        <li class="active">Add Entry</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Add Entry<small> Add Entry small text goes here...</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                <div class="stats-title">TODAY'S VISITS</div>
                <div class="stats-number">7,842,900</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 70.1%;"></div>
                </div>
                <div class="stats-desc">Better than last week (70.1%)</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
                <div class="stats-title">TODAY'S PROFIT</div>
                <div class="stats-number">180,200</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 40.5%;"></div>
                </div>
                <div class="stats-desc">Better than last week (40.5%)</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-purple">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i></div>
                <div class="stats-title">NEW ORDERS</div>
                <div class="stats-number">38,900</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 76.3%;"></div>
                </div>
                <div class="stats-desc">Better than last week (76.3%)</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-black">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
                <div class="stats-title">NEW COMMENTS</div>
                <div class="stats-number">3,988</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 54.9%;"></div>
                </div>
                <div class="stats-desc">Better than last week (54.9%)</div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    <!-- begin #content -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Add Risk Entry</h4>
                </div>
                <div class="panel-body">
                    <form action="/" method="POST" data-parsley-validate="true" name="form-wizard">
                        <div id="wizard" validator="riskEntryValidator" form-wizard>
                            <ol>
                                <li>
                                    Basic Info
                                    <small></small>
                                </li>
                                <li>
                                    Threat Detail
                                    <small></small>
                                </li>
                                <li>
                                    Affected Assets
                                    <small></small>
                                </li>
                                <li>
                                    Mitigating Controls
                                    <small></small>
                                </li>
                                <li>
                                    Measurements
                                    <small></small>
                                </li>
                                <li>
                                    Entry Activity
                                    <small></small>
                                </li>
                            </ol>
                            <!-- begin wizard step-1 Basic Info.-->
                            <div class="wizard-step-1">
                                <fieldset>
                                    <legend class="pull-left width-full">Basic Information</legend>
                                    <!-- begin row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group block1">
                                                <label>Summary</label>
                                                <input type="text" pattern=".{25,255}" ng-model="basicinfo.summary" name="summary" placeholder="Summary" class="form-control" data-parsley-group="wizard-step-1" required />
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Full Description</label>
                                                <textarea rows="3" ng-model="basicinfo.desc" name="desc" placeholder="Description" class="form-control" data-parsley-group="wizard-step-1" required/></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Risk Types</label>
                                                <select name="risktypes"  ng-model="basicinfo.risk_types" class="form-control" data-parsley-group="wizard-step-1" multiple=true required ng-model="risk_type" ng-options="k.id as k.name for k in risk_types"/></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Response</label>
                                                <select name="response" ng-model="basicinfo.final_response" class="form-control" ng-model="response" ng-options="k.id as k.name for k in response_types"data-parsley-group="wizard-step-1"  required/><option value=""></option></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Company Location</label>
                                                <select name="locations" ng-model="basicinfo.locations" class="form-control" data-parsley-group="wizard-step-1" multiple=true ng-model="locations" ng-options="k.id as k.name for k in company_locations"/></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Compliances</label>
                                                <select name="compliances" ng-model="basicinfo.compliances" class="form-control" data-parsley-group="wizard-step-1" multiple=true ng-model="compliances" ng-options="k.id as k.name for k in company_compliances"/></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Entry Owner</label>
                                                <select name="entry_owner" ng-model="basicinfo.entry_owner" class="form-control" data-parsley-group="wizard-step-1" ng-model="entry_owner" ng-options="k.id as k.name for k in users" required/><option value=""></option></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group block1">
                                                <label>Annual Rate of Occurrence (ARO)</label>
                                                <input type="number" ng-model="basicinfo.aro_multiplier" step="0.01" name="aro_multiplier" placeholder="Annual Rate of Occurrence" class="form-control" data-parsley-group="wizard-step-1" required />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>ARO Notes</label>
                                                <textarea rows="3" ng-model="basicinfo.aro_notes" name="aro_notes" placeholder="ARO Notes" class="form-control" data-parsley-group="wizard-step-1"/></textarea>
                                            </div>
                                        </div>
                                    </div>
                                 <!-- end row -->
                                </fieldset>
                            </div>
                            <!-- end wizard step-1 -->
                            <!-- begin wizard step-2 Threat Details.-->
                            <div class="wizard-step-2">
                                <fieldset>
                                    <legend class="pull-left width-full">Threat Detail </legend>
                                    <!-- begin row -->
                                    <div class="row" ng-repeat="td in threat_details.multidata" ng-class="{'odd': $odd, 'even':$even}">
                                        <input type='hidden' name='entry_actor_id' ng-model='td.entry_actor_id'>
                                        <!-- begin col-4 -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Threat Actor</label>
                                                <select name="threat_actor" ng-model="td.actor_name" class="form-control" data-parsley-group="wizard-step-2" required ng-model="actor" ng-options="k.id as k.name for k in actors"/><option value=""></option></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Intention</label>
                                                <select name="intention" ng-model="td.intentions" class="form-control" data-parsley-group="wizard-step-2" multiple=true ng-model="actor_intent" ng-options="k.id as k.name for k in actor_intents"/></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Motive</label>
                                                <select name="motive" ng-model="td.motives"class="form-control" data-parsley-group="wizard-step-2" multiple=true ng-model="actor_motive" ng-options="k.id as k.name for k in actor_motives"/></select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Detail</label>
                                                <textarea rows="3" ng-model="td.detail" name="threat_detail" placeholder="Threat Details" class="form-control" data-parsley-group="wizard-step-2"/></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-show="$index>0"><a title="Remove this threat detail" class="btn btn-danger pull-right" ng-click="remove_this_threat_detail($index)"><i class="fa fa-trash-o"></i></a></div>
                                        <!-- end col-6 -->
                                    </div>
                                    <!-- end row -->
                                    <a class="btn btn-success pull-right" ng-click="add_more_threat_detail()"><i class="fa fa-plus"></i> Add More Threat Detail</a>
                                </fieldset>
                            </div>
                            <!-- end wizard step-2 -->
                            <!-- begin wizard step-3  Affected Assets-->
                            <div class="wizard-step-3">
                                <fieldset>
                                    <legend class="pull-left width-full">Affected Assets</legend>
                                    <!-- begin row -->
                                    <div class="row" ng-repeat="as in affected_assets.multidata" ng-class="{'odd': $odd, 'even':$even}">
                                        <input type='hidden' name='entry_asset_id' ng-model='as.entry_asset_id'>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Asset</label>
                                                <select name="asset_name" ng-model="as.asset_name" class="form-control" data-parsley-group="wizard-step-3" required ng-model="asset" ng-options="k.id as k.name for k in company_assets"/><option value=""></option></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Exposure Factor</label>
                                                <div class="controls">
                                                    <input type="number" ng-model="as.exposure_factor" value='100' min="0" max="100" step="0.01" name="exposure_factor" placeholder="100" class="form-control" data-parsley-group="wizard-step-3" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Detail</label>
                                                <textarea rows="3" ng-model="as.asset_detail" name="asset_detail" placeholder="Asset Details" class="form-control" data-parsley-group="wizard-step-3"/></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-show="$index>0"><a title="Remove this affected asset" class="btn btn-danger pull-right" ng-click="remove_this_affected_assets($index)"><i class="fa fa-trash-o"></i></a></div>
                                    </div>
                                    <div class="row even">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>SLE Notes</label>
                                                <textarea rows="3" ng-model="affected_assets.impact_notes" name="impact_notes" placeholder="Single Loss Expectancy Notes" class="form-control" data-parsley-group="wizard-step-3"/></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-success pull-right" ng-click="add_more_affected_assets()"><i class="fa fa-plus"></i> Add More Affected Assets</a>
                                    <!-- end row -->
                                </fieldset>
                            </div>
                            <!-- end wizard step-3 -->
                            <!-- begin wizard step-4 Mitigating Controls-->
                            <div class="wizard-step-4">
                                <fieldset>
                                    <legend class="pull-left width-full">Mitigating Controls</legend>
                                    <!-- begin row -->
                                    <div class="row" ng-repeat="mc in mitigating_controls.multidata" ng-class="{'even': $odd, 'even':$even}">
                                        <input type='hidden' name='entry_mcontrol_id' ng-model='mc.entry_mcontrol_id'>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <select name="control_name" ng-model="mc.control" class="form-control" data-parsley-group="wizard-step-4" ng-model="mitigating_control" ng-options="k.id as k.name for k in company_controls" required/><option value=""></option></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Mitigation Rate</label>
                                                <div class="controls">
                                                    <input type="number" ng-model="mc.mitigation_rate" name="mitigation_rate" placeholder="100" min="0" max="100" step="0.01" class="form-control" data-parsley-group="wizard-step-4" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Detail</label>
                                                <textarea rows="3"  ng-model="mc.notes" name="notes" placeholder="Notes" class="form-control" data-parsley-group="wizard-step-4"/></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>URL</label>
                                                <input type="url"  ng-model="mc.url" name="url" class="form-control" data-parsley-group="wizard-step-4" />
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-show="$index>0"><a title="Remove this mitigating control" class="btn btn-danger pull-right" ng-click="remove_this_mitigating_controls($index)"><i class="fa fa-trash-o"></i></a></div>
                                    </div>
                                    <div class="row even">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label> Additional Mitigation Opportunites</label>
                                                <textarea rows="3"  ng-model="mitigating_controls.addtional_mitigation" name="addtional_mitigation" placeholder=" Additional Mitigation Opportunites" class="form-control" data-parsley-group="wizard-step-4"/></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-success pull-right" ng-click="add_more_mitigating_controls()"><i class="fa fa-plus"></i> Add More Mitigating Controls</a>
                                    <!-- end row -->
                                </fieldset>
                            </div>
                            <!-- end wizard step-4 -->
                            <!-- begin wizard step-5 Measurements-->
                            <div class="wizard-step-5">
                                <fieldset>
                                    <legend class="pull-left width-full">Measurements</legend>
                                    <!-- begin row -->
                                    <div class="row" ng-repeat="mm in measurements.multidata" ng-class="{'odd': $odd, 'even':$even}">
                                        <input type='hidden' name='entry_mcontrol_id' ng-model='mm.entry_mcontrol_id'>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Control</label>
                                                <select name="control_name" class="form-control" data-parsley-group="wizard-step-5" required ng-model="mm.control" ng-options="k.id as k.name for k in measurements.measurement_controls"/><option value=""></option></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Measurement</label>
                                                <select name="locations" class="form-control" data-parsley-group="wizard-step-5" multiple=true ng-model="mm.measurement" ng-options="k.id as k.name for k in control_measures"/></select>
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-show="$index>0"><a title="Remove this mitigating control" class="btn btn-danger pull-right" ng-click="remove_this_measurement($index)"><i class="fa fa-trash-o"></i></a></div>
                                    </div>
                                    <a class="btn btn-success pull-right" ng-click="add_more_measurements()"><i class="fa fa-plus"></i>Add More Measurements</a>
                                 <!-- end row -->
                                </fieldset>
                            </div>
                            <!-- end wizard step-5 -->
                            <!-- begin wizard step-6 Entry Activity-->
                            <div class="wizard-step-6">
                                <fieldset>
                                    <legend class="pull-left width-full">Entry Activity</legend>
                                    <!-- begin row -->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Date Created :</label> {(entry_details.entry_date_created)}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Created By :</label> {(entry_details.created_by)}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Last Modified Date :</label> {(entry_details.date_modified)}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Last Modified By :</label> {(entry_details.modified_by)}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Last Evaluated :</label> {(entry_details.date_evaluation)}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Mitigation Adequacey :</label> {(entry_details.mitigation_adequacy)}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Total Asset Value :</label> {(entry_details.total_asset_value)}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Total Control Mitigation :</label> {(entry_details.total_control_mitigation)}
                                            </div>
                                        </div>
                                    </div>
                                 <!-- end row -->
                                </fieldset>
                            </div>
                            <!-- end wizard step-6 -->
                        </div>
                    </form>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
    <!-- end #content -->
</div>


