{% load staticfiles %}

<!--Add New Vendor-->
<div class="modal fade" id="add_new_vendor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Quick Vendor Submit</h4> <span>provide these details and we will take care of the rest</span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!--                <form action="/" method="POST" data-parsley-validate="true" name="form-wizard">-->
                <div class="m-b-0">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Vendor Name</label>
                            <input class="form-control" type="text" ng-model="new_vendor.name" data-parsley-group="new-vendor-wizard" required>
                        </div>
                        <div class="col-md-4">
                            <label>Vendor URL</label>
                            <input class="form-control" type="url" ng-model="new_vendor.url" data-parsley-group="new-vendor-wizard" required>
                        </div>
                        <div class="col-md-4">
                            <label>Vendor Description</label>
                            <input class="form-control" type="text" ng-model="new_vendor.description">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a class="btn btn-success add-edit-btn" ng-click="add_new_vendor()">Submit</a>
            </div>
        </div>
    </div>
</div>

<!--Add New Control-->
<div class="modal fade" id="add_new_control">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Quick Control Submit</h4> <span>provide these details and we will take care of the rest</span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!--                <form action="/" method="POST" data-parsley-validate="true" name="form-wizard">-->
                <div class="m-b-0">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Control Name</label>
                            <input class="form-control" type="text" ng-model="new_control.name" data-parsley-group="new-control-wizard" required>
                        </div>
                        <div class="col-md-4">
                            <label>Control Category</label>
                            <select name="control_category" ng-model="new_control.category" class="form-control" data-parsley-group="new-control-wizard" ng-options="k.id as k.name for k in control_categories" required><option value=""></option></select>
                        </div>
                        <div class="col-md-4">
                            <label>Control URL</label>
                            <input class="form-control" type="url" ng-model="new_control.url">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a class="btn btn-success add-edit-btn" ng-click="add_new_control()">Submit</a>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Dashboard</a></li>
        <li class="active">Control Check-in</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Control Check-in&nbsp;&nbsp;<small>add Vendor, Control and Company Control</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                <div class="stats-title">TODAY'S VISITS</div>
                <div class="stats-number">7,842,900</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 70.1%;"></div>
                </div>
                <div class="stats-desc">Better than last week (70.1%)</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
                <div class="stats-title">TODAY'S PROFIT</div>
                <div class="stats-number">180,200</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 40.5%;"></div>
                </div>
                <div class="stats-desc">Better than last week (40.5%)</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-purple">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i></div>
                <div class="stats-title">NEW ORDERS</div>
                <div class="stats-number">38,900</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 76.3%;"></div>
                </div>
                <div class="stats-desc">Better than last week (76.3%)</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-black">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
                <div class="stats-title">NEW COMMENTS</div>
                <div class="stats-number">3,988</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 54.9%;"></div>
                </div>
                <div class="stats-desc">Better than last week (54.9%)</div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    <!--begin row -->
    <div class="row">
    <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Add Items</h4>
                </div>
                <div class="panel-body">
                    <div class="wizard-step-1">
                        <fieldset>
                            <legend class="pull-left width-full" ng-bind="maintitle">Submit a New Control</legend>
                            <div class="well">
                                <!--Define Vendor-->
                                <div class="row">
                                    <label class="sub-title-label">Define Vendor</label><span>company developed select in-house</span>
                                </div>
                                <div class="well">
                                    <div class="row button-right">
                                        <div class="col-md-12 cc-list-tbs" id="vendor_list_tb">
                                            <table class="table vendor-list-tb" id="vendor_lists_table">
                                                <thead>
                                                    <th>Select</th>
                                                    <th>Vendor Name</th>
                                                    <th>Abbrv</th>
                                                    <th>aka</th>
                                                    <th>URL</th>
                                                    <th>Parent</th>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" ng-click="show_control_list()">Submit</button>
                                            <a href="#" class="btn btn-primary modal-toggle" data-target="#add_new_vendor" data-toggle="modal">Add a New Vendor</a>
                                        </div>
                                    </div>
                                </div>

                                <!--Define Control-->
                                <div class="row control-section">
                                    <label class="sub-title-label">Define Control</label>
                                </div>
                                <div class="well control-section">
                                    <div class="row button-right">
                                        <div class="col-md-12 cc-list-tbs">
                                           <table class="table vendor-list-tb" id="control_lists_table">
                                                <thead>
                                                    <th>Select</th>
                                                    <th>Control Name</th>
                                                    <th>Category</th>
                                                    <th>URL</th>
                                                    <th>aka</th>
                                                </thead>
                                                <tbody></tbody>
                                           </table>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" ng-click="show_company_control_section()">Submit</button>
                                            <a href="#" class="btn btn-primary modal-toggle" data-target="#add_new_control" data-toggle="modal">Add a New Control</a>
                                        </div>
                                    </div>
                                </div>

                                <!--Company Control Detail-->
                                <div class="row company-control-section">
                                    <label class="sub-title-label">Company Control Detail</label>
                                </div>
                                <div class="well aro-bordered-div company-control-section">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control" ng-model="new_cc.name">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Alias</label>
                                                        <input type="text" class="form-control" ng-model="new_cc.alias">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea rows="5" class="form-control" ng-model="new_cc.description"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Version</label>
                                                <input class="form-control" type="text" ng-model="new_cc.version">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Estimated Opex</label>
                                                        <input type="number" step="0.01" class="form-control" ng-model="new_cc.opex">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Maintenance Date</label>
                                                        <input type="date" class="form-control" ng-model="new_cc.maintenance_date">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Opex Description</label>
                                                <textarea rows="5" class="form-control" ng-model="new_cc.opex_desc"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <label>Estimated Recovery Time</label>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input min="0" type="number" ng-model="new_cc.recovery_multiplier" step="1" name="recovery_multiplier" placeholder="# of units" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <select name="recovery_time_unit" ng-model="new_cc.recovery_time_unit" class="form-control" ng-options="k.id as k.name for k in recovery_time_units | orderBy:'sort_order'"
                                                    data-parsley-group="wizard-step-1" /><option value=""></option></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Locations</label>
                                                <select name="company_locations" ng-model="new_cc.company_locations" class="form-control" multiple=true ng-options="k.id as k.name for k in company_locations"/><option value="-1">All Locations</option></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Segments</label>
                                                <select name="company_segments" ng-model="new_cc.company_segments" class="form-control" multiple=true ng-options="k.id as k.name for k in company_segments"/><option value="-1">All Locations</option></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Evaluation Days</label>
                                                <input class="form-control" min="0" type="number" ng-model="new_cc.evaluation_days">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Primary Point of Contact</label>
                                                <select name="poc_main" ng-model="new_cc.poc_main" class="form-control" ng-options="k.id as k.name for k in company_contacts" required></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Primary Support Team</label>
                                                <select name="poc_support" ng-model="new_cc.poc_support" class="form-control" ng-options="k.id as k.name for k in company_contacts" required></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 button-right">
                                            <button class="btn btn-primary" ng-click="add_new_company_control()" ng-bind="SubmitButton">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    <!--end row -->
    </div>
</div>