{% load staticfiles %}
<div>
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Dashboard</a></li>
        <li class="active">List Entries</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Risk Register&nbsp;&nbsp;<small>manage company risk entries</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-asterisk fa-fw"></i></div>
                <div class="stats-title">COMPANY RESIDUAL ALE RATE</div>
                <div class="stats-number"><label ng-bind="company_residual_ale_rate + '%'"></label></div>
                <div class="stats-progress progress">
                    <div class="progress-bar" ng-style="{'width': company_residual_ale_rate_width}"></div>
                </div>
                <div class="stats-desc small-label">Highest Inherent Risk Entry: <label ng-bind="'$' + highest_total_ale"></label></br>Highest Residual Risk Entry: <label ng-bind="'$' + highest_residual_ale_cost"></label></div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-purple">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-shield fa-fw"></i></div>
                <div class="stats-title">TREATED ENTRY PROTECTION</div>
                <div class="stats-number"><label ng-bind="treated_entry_protection + '%'"></label></div>
                <div class="stats-progress progress">
                    <div class="progress-bar" ng-style="{'width': treated_entry_protection_width}"></div>
                </div>
                <div class="stats-desc small-label">Inherent: <label ng-bind="'$' + inherent_ale_total"></label></br>Mitigated: <label ng-bind="'$' + mitigated_ale_total"></label></div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-cogs fa-fw"></i></div>
                <div class="stats-title">TOTAL MANAGED ENTRIES</div>
                <div class="stats-number"><label ng-bind="count_active_entries"></label></div>
                <div class="stats-progress progress">
                    <div class="progress-bar" ng-style="{'width': count_active_entries_width}"></div>
                </div>
                <div class="stats-desc small-label">Treating: <label ng-bind="count_treat_entries"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transferred: <label ng-bind="count_transfer_entries"></label></div>
                <div class="stats-desc small-label">Accepted: <label ng-bind="count_accept_entries"></label>&nbsp;&nbsp;  &nbsp;Avoided: <label ng-bind="count_avoid_entries"></label></div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-black">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-stack-overflow fa-fw"></i></div>
                <div class="stats-title">QUALIFED ENTRIES</div>
                <div class="stats-number"><label ng-bind="count_qualified_entries"></label></div>
                <div class="stats-progress progress">
                    <div class="progress-bar" ng-style="{'width': count_qualified_entries_width}"></div>
                </div>
                <div class="stats-desc small-label">Not Completed: <label ng-bind="count_not_completed_entries"></label></br>Evaluation Required: <label ng-bind="count_require_evaluation_entries"></label></div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
        <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title" id="list-entry_title"></h4>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <!-- <div class="col-md-1 col-xs-4">
                                <label>Response : </label><input id="search_response" ng-model="search.response" type="checkbox" class="js-switch" ui-switch="{color: '#00ACAC', secondaryColor: '#d9e0e7'}" checked/>
                            </div> -->
                            <div class="col-md-2 col-xs-8">
                                <label>Response : </label><select id="search_response" multiple="true" ng-model="search.response" class="form-control" ng-options="k.name as k.name for k in responses">
                                    <option value="" selected>All</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-xs-8">
                                <label>Severity : </label><select id="search_residual_ale_category" multiple="true" ng-model="search.residual_ale_category" class="form-control" ng-options="k.name as k.name for k in severities"/>>
                                    <option value="" selected>All</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-xs-8">
                                <label>Owner : </label><select id="search_owner" ng-model="search.owner" class="form-control" ng-options="k.name as k.name for k in users">
                                    <option value="" selected>All</option>
                                </select>
                            </div>
                            <div class="col-md-1 col-xs-4">
                                <label>Compliance : </label><input id="search_compliance" ng-model="search.compliance" type="checkbox" class="js-switch" ui-switch="{color: '#00ACAC', secondaryColor: '#d9e0e7'}" checked/>
                            </div>
                            <div class="col-md-1 col-xs-4">
                                <label>Completed : </label><input id="search_completed" ng-model="search.completed" type="checkbox" class="js-switch" ui-switch="{color: '#00ACAC', secondaryColor: '#d9e0e7'}"/>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <table id="risk-entry-table" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Entry</th>
                                <th>Response</th>
                                <th>Residual ALE Category</th>
                                <th>Residual ALE Rate</th>
                                <th>Owner Name</th>
                                <th>Compliance</th>
                                <th>Completed</th>
                                <th>Summary</th>
                                <th>Evaluated</th>
                                <th>Modified</th>
                                <th>Response Plan</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
