{% load staticfiles %}

<!--Add New Vendor-->
<div class="modal fade" id="annual_mitigation_detail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Quick Vendor Submit</h4> <span>provide these details and we will take care of the rest</span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <!--                <form action="/" method="POST" data-parsley-validate="true" name="form-wizard">-->
                <div class="m-b-0">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Vendor Name</label>
                            <input class="form-control" type="text" ng-model="new_vendor.name" data-parsley-group="new-vendor-wizard" required>
                        </div>
                        <div class="col-md-4">
                            <label>Vendor URL</label>
                            <input class="form-control" type="url" id="vendor_url_name" ng-model="new_vendor.url" data-parsley-group="new-vendor-wizard" required>
                        </div>
                        <div class="col-md-4">
                            <label>Vendor Description</label>
                            <input class="form-control" type="text" ng-model="new_vendor.description">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a class="btn btn-success add-edit-btn" ng-click="add_new_vendor()">Submit</a>
            </div>
        </div>
    </div>
</div>

<div ng-controller="dashboardV2Controller">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Dashboard</a></li>
        <li class="active">Company Controls</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Company Controls&nbsp;&nbsp;<small>review and manage company controls</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                <div class="stats-title">TODAY'S VISITS</div>
                <div class="stats-number">7,842,900</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 70.1%;"></div>
                </div>
                <div class="stats-desc">Better than last week (70.1%)</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
                <div class="stats-title">TODAY'S PROFIT</div>
                <div class="stats-number">180,200</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 40.5%;"></div>
                </div>
                <div class="stats-desc">Better than last week (40.5%)</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-purple">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i></div>
                <div class="stats-title">NEW ORDERS</div>
                <div class="stats-number">38,900</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 76.3%;"></div>
                </div>
                <div class="stats-desc">Better than last week (76.3%)</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-black">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
                <div class="stats-title">NEW COMMENTS</div>
                <div class="stats-number">3,988</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 54.9%;"></div>
                </div>
                <div class="stats-desc">Better than last week (54.9%)</div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    <!-- start Main Content Row  -->
    <div class="row">
    <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Company Controls</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <legend class="pull-left width-full">Company Controls</legend>
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12 cc-list-tbs">
                                    <table class="table vendor-list-tb" id="company_control_list_tb">
                                        <thead>
                                            <tr>
                                                <th>Company Control Name</th>
                                                <th>Control Name</th>
                                                <th>Primary POC</th>
                                                <th>Annual Mitigation</th>
                                                <th>Annual Cost</th>
                                                <th>TTR</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="col-md-12 button-right">
                                    <a class="btn btn-primary" href="/dashboard/#!/app/controls/control-check-in">Add a Company Control</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    <!--end row -->
    </div>
    <!-- end Main content Row -->
</div>
