{% load staticfiles %}
<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="{% static "dashboard_assets/img/user-13.jpg" %}" alt="" /></a>
                </div>
                <div class="info">
                    <span id="current_company">{{user.get_company_name}}</span>
                    <a href="#" ng-click="show_company_dropdown();" ng-hide="change_company"><small style="text-align: right;">change</small></a>
                    <select class="form-control" ng-model="selected_company" id="companies_list" ng-show="change_company" class="ng-hide" ng-change="update_company_id()">
                        {% for c in companies %}<option value='{{c.id}}' data-name="{{c.name}}">{{c.name}}</option>{% endfor %}
                    </select>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">My Workbench</li>
            <li class="has-sub" ng-class="{active:$state.includes('app.openitems')}">
                <a href="javascript:;">
                    <span class="badge pull-right">10</span>
                    <i class="fa fa-bullhorn"></i>
                    <span>Open Items</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.openitems.evaluations">Evaluations</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.openitems.reminders">Reminders</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.openitems.tasks">Tasks</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.openitems.completions">Completions</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.email')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <span class="badge pull-right">4</span>
                    <i class="fa fa-inbox"></i>
                    <span>Messages</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.email.inbox">Inbox</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.email.inbox-v2">Feedback</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.meetings')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-clock-o"></i>
                    <span>Meetings</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.meetings.list_meetings">List Meetings</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.meetings.create_meeting">Create Meeting</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.meetings.search_meetings">Search Meetings</a></li>
                </ul>
            </li>
            <li ui-sref-active="active"><a ui-sref="app.calendar"><i class="fa fa-calendar"></i> <span>Calendar</span></a></li>
            <li class="has-sub" ng-class="{active:$state.includes('app.contacts')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-group"></i>
                    <span>Contacts</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.contacts.list_contacts">List Contacts</a></li>
                    <li ui-sref-active="active"><a href="#" data-target="#add-contact" data-toggle="modal">Add Contact</a></li>
                    <li ui-sref-active="active"><a href="#" data-target="#add-contact-group" data-toggle="modal">Add Contact Group</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.entries')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-book"></i>
                    <span>Register</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.entries.list_entries">List Entries</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.entries.add_entry">Add an Entry</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.controls')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-shield"></i>
                    <span>Controls</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.controls.list_controls">List Controls</a></li>
                    <li ui-sref-active="active"><a href="#" data-target="#add-control" data-toggle="modal">Add Control</a></li>
                    <li ui-sref-active="active"><a href="#" data-target="#add-control-group" data-toggle="modal">Add Control Group</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.assets')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-tags"></i>
                    <span>Assets</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.assets.list_assets">List Assets</a></li>
                    <li ui-sref-active="active"><a href="#" data-target="#add-asset" data-toggle="modal">Add Asset</a></li>
                    <li ui-sref-active="active"><a href="#" data-target="#add-asset-group" data-toggle="modal">Add Asset Group</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.vendors')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-wrench"></i>
                    <span>Vendors</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.vendors.list_vendors">List Vendors</a></li>
                    <li ui-sref-active="active"><a href="#" data-target="#add-vendor" data-toggle="modal">Add Vendor</a></li>
                    <li ui-sref-active="active"><a href="#" data-target="#add-vendor-group" data-toggle="modal">Add Vendor Group</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.projects')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-paper-plane"></i>
                    <span>Projects</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.projects.list_projects">List Projects</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.projects.add_project">Add Project</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.playbooks')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-pencil"></i>
                    <span>IR Playbooks</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.playbooks.list_playbooks">List Playbooks</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.playbooks.create_playbook">Create Playbooks</a></li>
                    <li ui-sref-active="active"><a href="#" data-target="#create-playbook-group" data-toggle="modal">Add Playbook Group</a></li>
                </ul>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

<!-- #modal- Add Contact -->
<div class="modal fade" id="add-contact">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Contact</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="m-b-0">
                    <h5><i class="fa fa-info-circle"></i> Add Contact</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal">Action</a>
            </div>
        </div>
    </div>
</div>

<!-- #modal- Add Contact Group -->
<div class="modal fade" id="add-contact-group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Contact Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="m-b-0">
                    <h5><i class="fa fa-info-circle"></i> Add Contact Group</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal">Action</a>
            </div>
        </div>
    </div>
</div>

<!-- #modal- Add Contact -->
<div class="modal fade" id="add-control">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Control</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="m-b-0">
                    <h5><i class="fa fa-info-circle"></i> Add Contact</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal">Action</a>
            </div>
        </div>
    </div>
</div>

<!-- #modal- Add Contact Group -->
<div class="modal fade" id="add-control-group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Control Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="m-b-0">
                    <h5><i class="fa fa-info-circle"></i> Add Contact Group</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal">Action</a>
            </div>
        </div>
    </div>
</div>

<!-- #modal- Add Asset -->
<div class="modal fade" id="add-asset">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Asset</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="m-b-0">
                    <h5><i class="fa fa-info-circle"></i> Add Asset</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal">Action</a>
            </div>
        </div>
    </div>
</div>

<!-- #modal- Add Asset Group -->
<div class="modal fade" id="add-asset-group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Asset Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="m-b-0">
                    <h5><i class="fa fa-info-circle"></i> Add Asset Group</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal">Action</a>
            </div>
        </div>
    </div>
</div>

<!-- #modal- Add Vendor -->
<div class="modal fade" id="add-vendor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Vendor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="m-b-0">
                    <h5><i class="fa fa-info-circle"></i> Add Vendor</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal">Action</a>
            </div>
        </div>
    </div>
</div>

<!-- #modal- Add Asset Group -->
<div class="modal fade" id="add-vendor-group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Vendor Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="m-b-0">
                    <h5><i class="fa fa-info-circle"></i> Add Vendor Group</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal">Action</a>
            </div>
        </div>
    </div>
</div>
<!-- #modal- Create playbook Group -->
<div class="modal fade" id="create-playbook-group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Playbook Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="m-b-0">
                    <h5><i class="fa fa-info-circle"></i> Create Playbook Group</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal">Action</a>
            </div>
        </div>
    </div>
</div>
